@charset "UTF-8";
.header {
    max-width: 960px;
    margin: 30px auto;
    color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.menu {
    display: flex;
}

.menu li {
    padding: 0 15px;
}

.menu li:not(:nth-child(5)){
    border-right: 1px solid #444;
}

@media screen and (max-width: 767px) {
    .header ,.menu {
        flex-direction: column;
    }
    .header {
        margin: 30px 15px;
        align-items: start;
    }
    .nav {
        max-width: 100%;
    }
    .menu li:not(:nth-child(5)){
        border-right: none
    }

    .menu li {
        padding: 15px 0;
        border-bottom: 1px solid #444;
    }
    
 }